<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hutao.projectservice.application.mapper.ClassifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.hutao.projectapi.domain.DocumentClassify">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="root_id" property="rootId"/>
        <result column="layer" property="layer"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="deleted" property="deleted"/>
        <result column="create_by_id" property="createById"/>
        <result column="create_by_name" property="createByName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by_id" property="updateById"/>
        <result column="update_by_name" property="updateByName"/>
        <result column="update_time" property="updateTime"/>
        <result column="site_id" property="siteId"/>
        <result column="org_id" property="orgId"/>
        <result column="company_id" property="companyId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, root_id, layer, name, code, description, deleted, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, site_id, org_id, company_id
    </sql>

    <select id="queryMaxCode" resultType="java.lang.Integer">
        select Max(code) from classify c
        where c.layer =1 and c.deleted = 0 and c.site_id = #{siteId} and c.company_id = #{companyId} and c.org_id = #{orgId}
    </select>


    <resultMap id="ClassifyVoMap" type="org.hutao.projectapi.vo.DocumentClassifyVo">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="root_id" property="rootId"/>
        <result column="layer" property="layer"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
    </resultMap>
    <select id="queryClassifyTree" resultMap="ClassifyVoMap">
        select c.id, c.parent_id, c.root_id, c.layer, c.name, c.code, c.description from classify c
        where c.deleted =0 and c.site_id = #{siteId} and c.company_id = #{companyId} and c.org_id = #{orgId}

    </select>

    <select id="haveChildrenClassify" resultType="java.lang.Integer">
        select count(1) from classify c
        where c.deleted =0 and c.site_id = #{siteId} and c.company_id = #{companyId} and c.org_id = #{orgId}
        <if test="classifyId != null">
            and c.parent_id =#{classifyId} or c.root_id=#{classifyId}
        </if>

    </select>


    <select id="queryChildrenClassify" resultType="java.lang.Long">
        select id from classify c
        where c.deleted =0 and c.site_id = #{siteId} and c.company_id = #{companyId} and c.org_id = #{orgId}
        <if test="classifyId != null">
            and c.id = #{classifyId} or c.parent_id =#{classifyId} or c.root_id = #{classifyId}
        </if>
    </select>
</mapper>
